.nav__container {
  padding: 8px;
  max-width: 262px;
  height: calc(100vh - 61px);
  border-right: 1px solid #eaedf3;
}

.nav__hot_entry {
  padding: 12px 8px;
  font-size: 12px;
  color: #6c7482;
  border-bottom: 1px solid #eaedf3;
}

.nav__entry_label {
  margin-bottom: 8px;
  color: #6c7482;
}

.nav__entry_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.nav__entry_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  height: 74px;
  box-sizing: border-box;
  cursor: pointer;
}

.item__icon_backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: rgba(236, 243, 255, 1);
}

.item__label {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(108, 116, 130, 1);
}
